@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
    &__slider
      width: 590px
  .card
    width: 230px
    height: 230px
@media ( max-width: 992px)
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 31px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
      max-width: 730px
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
      &__title
        font-size: 30px
        line-height: 38px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 45%
    height: 255px
  .footer
    padding: 76px 0 33px 0
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 40px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      max-width: 104px
      max-height: 120px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-bottom: 34px
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
    &__input
        flex-basis: 48%
    &__bottom
      margin-top: 56px
@media ( max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .body
    padding-top: 78px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search, &__user
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: space-between
    &-bottom
      display: none
      position: fixed
      padding-top: 30px
      left: 0
      right: 0
      bottom: 0
      top: 78px
      &--visible
        display: block
        overflow: auto
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      color: $light
      margin-left: 0
      margin-bottom: 10px
  .stars
    flex-basis: auto
  .hotel
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
    &-info
      padding-top: 18px
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px 
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      font-size: 20px
      line-height: 25px
    &-title
      &__strong
        font-size: 30px
        line-height: 38px
  .reviews
    &__title
      font-size: 30px
      line-height: 50px 
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px  
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card 
    width: 49%
    height: 255px
  .footer
    &__contact
      &-details
        grid-column: span 6
      &-form
        grid-column: span 6
@media ( max-width: 576px)
  .container
    width: 85.5%
    min-width: 267px
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      font-size: 20px
      margin-bottom: 37px
    &-title
      &__strong
        font-size: 30px
  .subscribe
    width: 100%
  .reviews
    &__title
      font-size: 18px
      margin-bottom: 42px
      line-height: 23px   
  .card
    width: 100%
  .navbar
    &-menu
      &__item
        max-width: 245px
  .footer
    padding: 69px 0 21px 0
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        flex-wrap: wrap
        grid-row: 2
        grid-column: 1
    &__title
      &--inline
        flex-basis: 100%
        margin-bottom: 22px
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
      margin-bottom: 0
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__button
      order: 5
    &__info
      flex-basis: 100%
      margin-bottom: 15px
    &__input
      flex-basis: 100%
      margin-top: 0px
    &__bottom
      flex-basis: 100%
      margin-top: 30px
      display: grid
      grid-template-columns: 1fr
      &--ul
        grid-row: 1
        grid-column: 1
        width: 100%
      &--item
        word-wrap: normal
        font-size: 12px
        line-height: 15px
      &--image
        margin-top: 15px
        grid-row: 1
        grid-column: 2
        align-self: start

       

        
      
   

      
    
  